@{
    ViewData["Title"] = "Về chúng tôi";
}
<h1>@ViewData["Title"]</h1>

<p><b> CÔNG TY TNHH DỊCH VỤ CÔNG NGHỆ TOÀN CẦU - TECHGLOBAL</b></p>
<br /><p>Là một tập thể trẻ, năng động, sáng tạo, nhiệt huyết và giàu khát vọng với đội ngũ nhân lực được đào tạo từ các trường đại học trong lĩnh vực thiết bị điện – điện tử, viễn thông và tin học. Mục tiêu vươn tới của Techglobal là phân phối và sản xuất những sản phẩm công nghệ thương hiệu Việt, chất lượng quốc tế.Chúng tôi luôn mong muốn trở thành đối tác tin cậy của tất cả các cơ quan, đơn vị trong và ngoài nước.</p>

<br /><p><b>SỨ MỆNH</b></p>
      <img src="~/lib/image/su-menh-techglobal.jpg" alt="Sứ mệnh TechGlobal" width="500" />
<br /><p>TECHGLOBAL xây dựng các giải pháp ứng dụng công nghệ định vị GPS giúp các Cá nhân và Doanh nghiệp giám sát mọi dịch chuyển phương tiện giao thông vận tải, tài sản một cách hiệu quả, chuyên nghiệp, tiết kiệm thời gian và chi phí. Để mang lại cuộc sống thoải mái và tốt đẹp hơn.</p>

<br /><p><b>TẦM NHÌN</b></p>       
      <img src="~/lib/image/tam-nhin-techglobal.jpg" alt="Tầm nhìn TechGlobal" width="500"/>       
 <br /><p>Trở thành đơn vị hàng đầu tại Việt Nam cung cấp các giải pháp quản lý, ứng dụng công nghệ định vị GPS.</p>

<br /><p><b>VĂN HÓA - GIÁ TRỊ CỐT LÕI</b></p>
<br /><p>Con người là trung tâm của vũ trụ. Sự phát triển của mỗi cá nhân sẽ giúp xã hội tiến bộ hơn, sự đoàn kết trở thành nguồn lực to lớn, mang lại phồn vinh cho dân tộc.Công dân điện tử hóa sẽ giúp người Việt tiến xa hơn. Techglobal đang từng bước xây dựng văn hóa trong doanh nghiệp là một bản sao thu nhỏ của người Việt truyền thống, một lối suy nghĩ văn minh không bị giới hạn bởi địa lý.</p>

<br /><p><b> MỖI CÁ NHÂN TRONG TECHGLOBAL:</b></p>
      <img src="~/lib/image/gia-tri-cot-loi-techglobal.jpg" alt="Giá trị cốt lõi" title="Giá trị cốt lõi" width="500"/>

