@{
    ViewData["Title"] = "Liên hệ";
}
<h1>@ViewData["Title"]</h1>

<img src="~/lib/image/Support.jpg" alt="Liên hệ" title="Liên hệ" width="300"/>

<p><b>LIÊN HỆ MUA THIẾT BỊ ĐỊNH VỊ CỦA TECHGLOBAL</b></p>
<p>Hãy liên hệ với chúng tôi khi Quý khách có nhu cầu lắp đặt thiết bị định vị của Techglobal</p>

<address><b>TechGlobal Miền Bắc.</b><br />
    Địa chỉ: C7 Ngõ 193 Trung Kính, Yên Hòa, Cầu Giấy, Hà Nội <br />
    Điện thoại: (024) 35627357 - Fax: (024) 35 62 5958 <br />
    Hotline: 090 223 5188 - 0973 52 6060 - 0901 732 999 <br />
    Email: sam89@techglobal.vn <br />
</address>

<address>
    <b>TechGlobal Miền Trung.</b><br />
    Địa chỉ: Số 141 Huỳnh Ngọc Huệ, Thanh Khê, Đà Nẵng <br />
    Điện thoại: (0236) 626 0123 - Fax: (024) 35 62 5958 <br />
    Hotline: 0945 86 6060 - 0943 39 6060 - 0945 98 6060 <br />
    Email: truongbn@techglobal.vn <br />
</address>
<address>
    <b>TechGlobal Miền Nam.</b><br />
    Địa chỉ: 383/6 Nguyễn Thái Bình, P.12, Q.Tân Bình, TP.HCM <br />
    Điện thoại: (028) 38 103 016 - Fax: (024) 35 62 5958 <br />
    Hotline: 0945 32 6060 - 0949 73 1616 - 0901 732 999 <br />
    Email: vodoanh@techglobal.vn <br />
</address>