@{
    ViewData["Title"] = "Lịch sử di chuyển";
}
<h1>@ViewData["Title"]</h1>

<p>Mời bạn chọn khoảng thời gian</p>

<label>Từ ngày</label>
<input type="date" name="name" value="" />

<label>Đến ngày: </label>
<input type="date" name="name" value="" />

<input style="color:#ff0000"; border="1" type="submit" name="name" value="Xem lộ trình" />
