@{
    ViewData["Title"] = "Trang chủ";
}

    <div class="text-center">
        <h1 style="color:#ff0000; background:#c8c7c7" class="display-4">Chào mừng bạn đến với trang web</h1>

        <label> <b>Tìm sản phẩm </b></label>
        <input type="text" name="name" value="" placeholder="Nhập tên sản phẩm"/>
        <input type="submit" name="name" value="Tìm kiếm" />

        <br /><img src="~/lib/image/Oto.jpg" alt="Oto" width="310" />
        <img src="~/lib/image/XeContainer.jpg" alt="Container" width="330" />
        <img src="~/lib/image/XeMay.jpg" alt="Oto" width="280" />

        <br />
        <img src="~/lib/image/XeBus.png" alt="XeBus" width="300"/>
        <img src="~/lib/image//Xetai.png" alt="XeBus" width="300"/>
        <img src="~/lib/image/XeDien.png" alt="XeDien" width="250"/>

        <p>Để biết thêm chi tiết vui lòng truy cập trang <a href="http://dinhvitoancau.vn/">http://dinhvitoancau.vn</a></p>
    </div>
