@{
    ViewData["Title"] = "Chính sách bảo hành";
}
<h1>@ViewData["Title"]</h1>

<img src="~/lib/image/BaoHanh.jpg" alt="Bảo hành" />

<br /><p>Chi tiết chính sách bảo hành bạn vui lòng truy cập trang<a href="http://techglobal.vn/"> Chính sách bảo hành </a></p>
